aiohttp
aiosignal
altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
dataclasses-json
faiss-cpu
filelock
frozenlist
fsspec
gitdb
GitPython
greenlet
huggingface-hub
idna
importlib-metadata
InstructorEmbedding
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langsmith
markdown-it-py
MarkupSafe
marshmallow
mdurl
mpmath
multidict
mypy-extensions
networkx
nltk
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openai
packaging
pandas
Pillow
protobuf
pyarrow
pydantic
pydantic_core
pydeck
Pygments
pypdf
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
six
smmap
sniffio
SQLAlchemy
streamlit
style
sympy
tenacity
termcolor
threadpoolctl
tiktoken
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
transformers
triton
typing-inspect
typing_extensions
tzdata
tzlocal
update
urllib3
validators
watchdog
yarl
zipp
